<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My WebSocket</title>
    <link rel="stylesheet" th:href="@{/node_modules/layui/dist/css/layui.css}" />
    <script  th:src="@{/node_modules/layui/dist/layui.js}" ></script>

</head>

<body style="background-color: #c2c2c2;">
<!--  功能  -->
<div class="layui-row layui-col-space5" style="height: 10%">
    <div class="layui-col-md3 contain" >
        <div class="bag">波特率：9600</div>
    </div>
    <div class="layui-col-md3 contain">
        <div class="bag">数据位：8</div>
    </div>
    <div class="layui-col-md3 contain">
        <div class="bag">停止位：1</div>
    </div>
    <div class="layui-col-md3 contain">
        <div class="bag">模式：文本模式</div>
    </div>
</div>

<!--  功能模块  -->
<div class="layui-row layui-col-space5" style="height: 10%">
    <div class="layui-col-md4 contain" >
        <div class="contain_selectAll">
            <input class="contain_input" type="checkbox" id="selectAll"> 全选 <label for="selectAll"> </label>
        </div>
        <button class="contain_btn" id="submitBtn">
           提交选中的数据
        </button>
        <button class="contain_btn" id="hisBtn">
            查看历史数据
        </button>
    </div>

    <div class="layui-col-md4 contain">
        <button type="button" class="contain_btn" id="charBtn" style="margin-left: 180px;margin-right: 40px">
            查看选中数据折线图
        </button>
    </div>
    <div class="layui-col-md4 contain">
        <button type="button" class="contain_btn" id="clearBtn" style="margin: 0px 80px">
            清空折线图
        </button>
    </div>


</div>
<!--    串口数据与图     -->
   <div class="dataContainer">
       <div id="dataContainer" class="data">
       </div>
       <div class="canvasContainer">
           <canvas id="lineChart" class="canvas-in"></canvas>
       </div>
   </div>

<style>
    body{
        background-color: #c2c2c2;
        height: 98vh;
        margin: 0;
    }
    .contain{
        height: 100%;
        display: flex; /* 使用Flexbox布局 */
        align-items: center;
        justify-items: center;
        background-color: #16baaa;
        text-align: center;
    }
    .bag{
        flex: 1;
        height: 100%;
        text-align: center;
        font-size: 30px;
    }

    .contain_btn{
        flex: 1;
        height: 60%;

    }
    .contain_selectAll{
        flex: 1;
        font-size: 20px;
    }
    .contain_input{
        width: 20px; /* 设置复选框的宽度 */
        height: 20px; /* 设置复选框的高度 */
    }

    .dataContainer{
        height: 80%;

        display: flex; /* 使用flexbox布局 */
        width: 100%;
        /*height: 80vh; !* 设置高度，这里使用视窗高度的80%作为示例，您可以根据需求调整 *!*/
    }
    .data{
        flex: 1;
        overflow: auto;
    }
    .canvasContainer{
        flex: 1.5;
        overflow: auto;
        justify-content: flex-start;
    }
    .canvas-in{
        width: 100%;
        height: 100%;
        margin-top: 90px;
        margin-right: 20px;
    }
    .custom-checkbox{
        height: 22px;
        width: 22px;
        margin-top: 10px;
        margin-left: 5%;
    }

</style>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--    websokect接发送数据  -->
<script type="text/javascript">
    var dataContainer = document.getElementById("dataContainer");
    var submitButton = document.getElementById("submitBtn");
    var idCounter = 1; // 初始ID为1
    var websocket = null;
    var charButton = document.getElementById("charBtn");
    var clearButton = document.getElementById("clearBtn");
    var hisButton = document.getElementById("hisBtn");
    var myLineChart = null;

    hisButton.addEventListener("click" ,function (){
        layui.use('layer',function (){
            var layer = layui.layer;
            var $ = layui.jquery;
            $.ajax({
                type: 'GET',
                url: '/hisdata',
                success: function (){
                    window.location.href = "/hisdata"
                }
            })
        })
    })

    //判断当前浏览器是否支持WebSocket, 主要此处要更换为自己的地址
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://localhost/websocket/1");
    } else {
        alert('Not support websocket')
    }

    //连接成功建立的回调方法
    websocket.onopen = function(event) {
        // setMessageInnerHTML("open");
        console.log("连接成功");
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event) {
        //分成三份
        var data = event.data.split("\t");
        setMessageInnerHTML(data);
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        // console.log("innerHTML"+innerHTML);
        // 获取当前时间
        const currentTime = new Date();
        // 获取年、月、日、小时、分钟和秒
        const year = currentTime.getFullYear();
        const month = (currentTime.getMonth() + 1).toString().padStart(2, '0'); // 月份从0开始，需要加1
        const day = currentTime.getDate().toString().padStart(2, '0');
        const hours = currentTime.getHours().toString().padStart(2, '0');
        const minutes = currentTime.getMinutes().toString().padStart(2, '0');
        const seconds = currentTime.getSeconds().toString().padStart(2, '0');
        const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

        // 构建要显示的完整内容，包括日期、时间和消息
        var dataItem = {
            id: idCounter++,
            createtime: formattedDateTime,
            lv: innerHTML[0],
            speed: innerHTML[1],
            num: innerHTML[2]
        };
        // console.log("item:",dataItem);

        //选择框
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.name = "selectedItems";
        checkbox.value = dataItem.id;
        checkbox.className = "custom-checkbox";
        checkbox.id = "checkbox_" + dataItem.id;

        //数据行
        var label = document.createElement("label");
        label.innerHTML = dataItem.createtime +'&nbsp;&nbsp'+ dataItem.lv +'&nbsp;&nbsp'+ dataItem.speed +'&nbsp;&nbsp'+ dataItem.num;
        label.setAttribute("for", "checkbox_" + dataItem.id);
        label.style.fontSize = "20px"; // 设置字体大小

        //插入数据
        dataContainer.appendChild(checkbox);
        dataContainer.appendChild(label);
        dataContainer.appendChild(document.createElement("br"));

        //  const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        // // const contentWithDateTime = `${formattedDateTime}: &nbsp;&nbsp;${innerHTML}`;
        //  document.getElementById('message').innerHTML +=  `${formattedDateTime}: &nbsp;&nbsp;${innerHTML}`+'</br>' ;
    }

    //全选框
    var selectAllCheckbox = document.getElementById("selectAll");
    // 全选复选框状态改变时的事件处理程序
    selectAllCheckbox.addEventListener("change", function () {
        var checkboxes = dataContainer.querySelectorAll("input[type='checkbox']");
        for (var i = 1; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    });

    //生成折线图
    charButton.addEventListener("click",function (){
        var datas = [];
        // 获取选中的选择框的值
        var checkboxes = document.getElementsByName("selectedItems");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                var id = checkboxes[i].value;
                var label = document.querySelector("label[for='checkbox_" + id + "']").textContent;

                datas.push(label);
            }
        }
        var lightIntensityData = []; // 光照强度数据
        var timeData = []; // 时间数据

        //数据格式：['2023-09-14 11:40:43', 'LV:32', 'Speed:038', 'num:00001472\n']
        for (var n=0;n < datas.length;n++) {
            console.log("进入：",datas[n]);
            var list = datas[n].split('  ')
            console.log("list:",list);
            timeData.push(list[0]);
            lightIntensityData.push(list[1].split(':')[1]);

        }
        console.log("lv:",lightIntensityData);
        console.log("time:",timeData);

        // 获取Canvas元素
        var ctx = document.getElementById('lineChart').getContext('2d');

        // 创建数据集
        var data = {
            labels: timeData, // X轴标签
            datasets: [{
                label: '光照强度',
                data: lightIntensityData, // Y轴数据
                borderColor: 'blue', // 折线颜色
                borderWidth: 2, // 折线宽度
                fill: true // 不填充区域
            }]
        };

        // 创建折线图
        myLineChart = new Chart(ctx, {
            type: 'line', // 指定图表类型为折线图
            data: data,
            options: {
                responsive: true, // 禁用响应式
                scales: {
                    y: {
                        beginAtZero: true // Y轴从零开始
                    }
                }
            }
        });
    })

    //清空折线图
    clearButton.addEventListener("click", function (){
        myLineChart.destroy();
    });


    //提交选中数据传给后端
    submitButton.addEventListener("click", function () {
        var datas = [];

        // 获取选中的选择框的值
        var checkboxes = document.getElementsByName("selectedItems");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                var id = checkboxes[i].value;
                var label = document.querySelector("label[for='checkbox_" + id + "']").textContent;

                datas.push(label);
            }
        }
        console.log("re data:",datas);
        // 将选中的数据提交给后端（这里使用console.log模拟提交）
       layui.use('layer',function (){
           var layer = layui.layer;
           var $ = layui.jquery;
           console.log("re data:",datas);
           var data = JSON.stringify(datas);
           console.log("json data:",data);
           $.ajax({
               type:'POST',
               url:'/submit',
               contentType: 'application/json',
               data: data,
               before:function () {
                   console.log("开始发送数据给后端");
               },
               success:function (res) {
                   console.log("success:",res);
               }
           })
       })
    });


    //连接发生错误的回调方法
    websocket.onerror = function() {
        setMessageInnerHTML("error");
    };

    //连接关闭的回调方法
    websocket.onclose = function() {
        setMessageInnerHTML("close");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function() {
        websocket.close();
    }

    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    //发送消息
    function send() {
        var message = document.getElementById('text').value;
        websocket.send(message);
    }
</script>

<!--    生成折线图   -->
<script>
    // 在这里编写绘制折线图的JavaScript代码
    //获取选择框数据


</script>


</body>
</html>