<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My WebSocket</title>
    <link rel="stylesheet" th:href="@{/node_modules/layui/dist/css/layui.css}" />
    <script  th:src="@{/node_modules/layui/dist/layui.js}" ></script>
</head>

<body style="background-color: #c2c2c2;">
<!--  功能  -->
<div class="layui-row layui-col-space5" style="height: 10%">
    <div class="layui-col-md4 contain" >
        <div class="bag">波特率：9600</div>
    </div>
    <div class="layui-col-md4 contain">
        <div class="bag">接收数据：</div>
    </div>
    <div class="layui-col-md4 contain">
        <div class="bag">串口</div>
    </div>
</div>

<!--  功能模块  -->
<div class="layui-row layui-col-space5" style="height: 10%">
    <div class="layui-col-md6 contain" >
        <div class="contain_selectAll">
            <input class="contain_input" type="checkbox" id="selectAll"> 全选 <label for="selectAll"> </label>
        </div>
        <button class="contain_btn" id="submitBtn">
           提交选中的数据
        </button>

    </div>

    <div class="layui-col-md6 contain">
        <div class="bag">串口</div>
    </div>
</div>
<!--    串口数据     -->
<div id="dataContainer" class="dataContainer">

</div>


<style>
    body{
        background-color: #c2c2c2;
        height: 98vh;
        margin: 0;
    }
    .contain{
        height: 100%;
        display: flex; /* 使用Flexbox布局 */
        align-items: center;
        justify-items: center;
        background-color: #16baaa;
        text-align: center;
    }
    .bag{
        flex: 1;
        height: 100%;
        text-align: center;
        font-size: 30px;
    }
    .message{
        text-align: center;
        font-size: 20px;
    }
    .dataContainer{
        width: 50%;
        height: 80%;
        padding-left: 5%;
        overflow: auto;
    }
    .contain_btn{
        flex: 1;
        height: 60%;
        margin-left: 10%;
    }
    .contain_selectAll{
        flex: 1;
        font-size: 20px;
    }
    .contain_input{
        width: 20px; /* 设置复选框的宽度 */
        height: 20px; /* 设置复选框的高度 */
    }

    .custom-checkbox {
        width: 22px; /* 设置复选框的宽度 */
        height: 22px; /* 设置复选框的高度 */
        margin-top: 10px;
    }
</style>

<script type="text/javascript">
    var dataContainer = document.getElementById("dataContainer");
    var submitButton = document.getElementById("submitBtn");
    var idCounter = 1; // 初始ID为1


    var websocket = null;

    //判断当前浏览器是否支持WebSocket, 主要此处要更换为自己的地址
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://localhost/websocket/1");
    } else {
        alert('Not support websocket')
    }

    //连接成功建立的回调方法
    websocket.onopen = function(event) {
        // setMessageInnerHTML("open");
        console.log("连接成功");
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event) {
        //分成三份
        var data = event.data.split("\t");
        setMessageInnerHTML(data);
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        console.log("innerHTML"+innerHTML);
        // 获取当前时间
        const currentTime = new Date();
        // 获取年、月、日、小时、分钟和秒
        const year = currentTime.getFullYear();
        const month = (currentTime.getMonth() + 1).toString().padStart(2, '0'); // 月份从0开始，需要加1
        const day = currentTime.getDate().toString().padStart(2, '0');
        const hours = currentTime.getHours().toString().padStart(2, '0');
        const minutes = currentTime.getMinutes().toString().padStart(2, '0');
        const seconds = currentTime.getSeconds().toString().padStart(2, '0');
        const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;

        // 构建要显示的完整内容，包括日期、时间和消息
        var dataItem = {
            id: idCounter++,
            createtime: formattedDateTime,
            lv: innerHTML[0],
            speed: innerHTML[1],
            num: innerHTML[2]
        };
        console.log("item:",dataItem);

        //选择框
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.name = "selectedItems";
        checkbox.value = dataItem.id;
        checkbox.className = "custom-checkbox";
        checkbox.id = "checkbox_" + dataItem.id;

        //数据行
        var label = document.createElement("label");
        label.innerHTML = dataItem.createtime +'&nbsp;&nbsp'+ dataItem.lv +'&nbsp;&nbsp'+ dataItem.speed +'&nbsp;&nbsp'+ dataItem.num;
        label.setAttribute("for", "checkbox_" + dataItem.id);
        label.style.fontSize = "20px"; // 设置字体大小

        //插入数据
        dataContainer.appendChild(checkbox);
        dataContainer.appendChild(label);
        dataContainer.appendChild(document.createElement("br"));

        //  const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        // // const contentWithDateTime = `${formattedDateTime}: &nbsp;&nbsp;${innerHTML}`;
        //  document.getElementById('message').innerHTML +=  `${formattedDateTime}: &nbsp;&nbsp;${innerHTML}`+'</br>' ;
    }

    //全选框
    var selectAllCheckbox = document.getElementById("selectAll");
    // 全选复选框状态改变时的事件处理程序
    selectAllCheckbox.addEventListener("change", function () {
        var checkboxes = dataContainer.querySelectorAll("input[type='checkbox']");
        for (var i = 2; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    });

    //提交选中数据传给后端
    submitButton.addEventListener("click", function () {
        var datas = [];

        // 获取选中的选择框的值
        var checkboxes = document.getElementsByName("selectedItems");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                var id = checkboxes[i].value;
                var label = document.querySelector("label[for='checkbox_" + id + "']").textContent;

                datas.push(label);
            }
        }
        console.log("re data:",datas);
        // 将选中的数据提交给后端（这里使用console.log模拟提交）
       layui.use('layer',function (){
           var layer = layui.layer;
           var $ = layui.jquery;
           console.log("re data:",datas);
           var data = JSON.stringify(datas);
           console.log("json data:",data);
           $.ajax({
               type:'POST',
               url:'/submit',
               contentType: 'application/json',
               data: data,
               before:function () {
                   console.log("开始发送数据给后端");
               },
               success:function (res) {
                   console.log("success:",res);
               }
           })
       })
    });


    //连接发生错误的回调方法
    websocket.onerror = function() {
        setMessageInnerHTML("error");
    };

    //连接关闭的回调方法
    websocket.onclose = function() {
        setMessageInnerHTML("close");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function() {
        websocket.close();
    }

    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    //发送消息
    function send() {
        var message = document.getElementById('text').value;
        websocket.send(message);
    }
</script>

</body>
</html>